
Lektion2/geodata/VERSION
*.zip
*.png
*.jpg
*.jpeg
*.tif
*.xml
*.prj
*.vrt
*.ovr
*.tfw
*.hdr
*.shp
*.shx
Lektion7/data/*.*
Lektion1/geodata/packages/natural_earth_vector.gpkg
Lektion2/geodata/CHANGELOG
Lektion2/geodata/packages/natural_earth_vector.gpkg
Lektion2/geodata/README.md
Lektion4/uebung/everest_contours.dbf
Test_GO/GOcontour.dbf
Test_GO/TestGO.ipynb
